/* main {
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    width: 100px; height: 1000px;
} */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}
main {
     max-width: 1000px;
    overflow: hidden;
    margin: auto;
    font-family: 'Roboto', sans-serif;

}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.stt {
    background-color: #007ADC;
}

table {margin: 0 !important; padding: 0}
th {
    color: white;
    background-color: #663AB6;
}

tr:nth-child(odd) {
    background-color: #E2D9EE;
}

tr:nth-child(even) {
    background-color: #D1C5EA;
}

.box__active--button {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.box__active,#id__l,footer {
    background-color: #3E3180;
}

.box__active--button::before {
    content: '';
    border: .1px solid whitesmoke;
    height: 100%;
    position: absolute;
    left: 50%;
}

button { 
    border: none; outline: none;
    background-color: #12AE6F;
    color: white; text-transform: capitalize;
}
.box--button-br, .saveAs {
    padding: var(--lineHeightButton) 1rem;
    line-height: 100%;
}

.box--up--down {
    height: 100%;
    padding: 0px 1rem;
    background-color: #12AE6F;
    z-index: 9;
    margin-left: -1.4rem;
    font-size: 16px;

    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;

    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.up:active, .down:active, button:active {border: none; outline: none;}
.up {

}
.down {

}

#id__l {
    margin-left: 1rem;
    outline: none; border: 1px solid  #12AE6F;
}

:root {
    --lineHeightButton: .7rem
}